<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqu0XE1JW6FMbUrfR5Ws5_jQlhv_sYI38</string>
	<key>GCM_SENDER_ID</key>
	<string>456460570449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ghanshyam.ghanshyamMahotsav</string>
	<key>PROJECT_ID</key>
	<string>easstemple-b710e</string>
	<key>STORAGE_BUCKET</key>
	<string>easstemple-b710e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456460570449:ios:ff3ebe3a86bbb6a0d54d70</string>
</dict>
</plist>